@charset "utf-8";

/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: aliceblue;
}
ul li {
    list-style: none;
}
#container {
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
}


header {
    height: 80px;
    background-color: navy;
}

header #logo {
    width: 20%;
    float: left;
    line-height: 80px;
    padding-left: 40px;
}
header #logo h1 a{
    color: rgb(249, 100, 107);
}
header #logo h1 a:hover {
    color: skyblue;
}

header nav {
    width: 75%;
    line-height: 80px;
    float: right;

}

header nav ul {
    padding-left: 500px;
}

header nav ul li {
    float: left;

}

header nav ul li:hover {
    background-color: skyblue;

}

header nav ul li a {
    /* display: block; */
    padding: 0 30px;
}

#container #main{
    width: 1000px;
    margin: 0 auto;
}
#main #contents{
    width: 800px;
    margin: 0px auto;
}

/* index 스타일 */


#main #contents h1{
    text-align: center;
    margin: 20px;
}

#main #contents .main_pic{
    width: 500px;
    margin: 0 auto;
}

#main #contents .main_pic img{
    width: 500px;
    height: 500px;
    border-radius: 6px;
}

/* product 스타일 */
#main #contents .product_h1{
    text-align: left;
}
#contents #watermelon, #straberry{
    height: 400px;
    margin: 30px 0;
}

#contents #watermelon img, #strawberry img{
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    border-radius: 15px;
    padding-bottom: 100px ;
    
}
#contents #watermelon p, #strawberry p{
    /* float: left; */
    /* display: inline-block; */
    /* width: 800px; */
    line-height: 2;

    
}

/* board 스타일 */
#contents table{
    width: 700px;
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 30px;

}
#contents table th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#contents table thead{
    background-color: #eee;
}

/* #contents table tr td:nth-of-type(2){
text-align: left;
} */

#contents table tr td:nth-child(2){
text-align: left;
}

/* login 스타일 */
#contents form{
    width: 440px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

#contents form ul{
    padding: 40px;
    /* margin: 20px; */
}

#contents form ul li{
    margin: 20px;
}

#contents form label{
    width: 80px;
    float: left;
}

/* 속성 선택자 -> 태그[속성='속성값'] */
#contents form input[type='text'], input[type='password']{
    width: 200px;
    height: 25px;
    padding: 0 5px;
}

#contents form input[type='submit'], input[type='reset']{
    padding: 5px 8px;
}

/* footer 스타일 */
footer{
    width: 100%;
    height: 50px;
    /* position: absolute; */
    /* bottom: 0; */
    border-top: 2px solid #ccc;
    margin-top: 200px;
    clear: both;
}
footer #footer_menu{
    height: 50px;
    /* background-color: rgb(225, 137, 30); */
    padding-left: 50px;
    /* margin: 0 auto; */
    text-align: center;
}

footer ul li{
    /* float: left; */
    display: inline-block;
    margin: 10px;
    padding: 0 20px 0 0;
    border-right: 1px solid #ccc;
}
footer ul li a{
    color: #ccc;
}
footer ul li:nth-of-type(4)
{
    border: none;
}
