@charset "utf-8";

/* 공통 스타일(모바일 기준) */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul li {
    list-style: none;
}

#container {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 240px;
    background-color: navy;

}

header #logo {
    width: 10%;
    height: 240px;
    float: left;
    margin-top: 5px;
    padding-left: 20px;
}

header #logo h1 {
    font-size: 26px;
}

header #logo h1 a:hover {
    color: yellowgreen;
}

header nav {
    width: 76%;
    height: 240px;
    float: left;
    margin-top: 40px;
}

header nav ul {
    text-align: center;
}

header nav ul li a {
    display: block;
    padding: 12px;
}

header nav ul li a:hover {
    background-color: skyblue;
    border-radius: 5px;
}

#container #main {
    width: 90%;
    margin: 0 auto;
}

/* 가변크기(%)는 '부모'를 기준으로 상대적인 비율값으로 설정 */
#container #main #contents {
    width: 90%;
    margin: 0 auto;
}

#main #contents h2 {
    text-align: center;
    font-size: 20px;

}

footer {
    width: 100%;
    height: 50px;
    /* position: absolute; */
    /* bottom: 0; */
    border-top: 2px solid #ccc;
    margin-top: 100px;
    clear: both;
}

footer #footer_menu {
    height: 50px;
    /* background-color: rgb(225, 137, 30); */
    padding-left: 50px;
    /* margin: 0 auto; */
    text-align: center;
}

footer ul li {
    /* float: left; */
    display: inline-block;
    margin: 5px;
    padding: 0 15px 0 0;
    border-right: 1px solid #ccc;
    font-size: 13px;
}

footer ul li a {
    color: #ccc;
}

footer ul li:nth-of-type(4) {
    border: none;
}


/* index 스타일 */

#main #contents .main_pic {
    width: 400px;
    margin: 40px auto;
}

#main #contents .main_pic img {
    width: 400px;
    height: 350px;
}

/* product 스타일 */
#main #contents div h3 {
    margin: 10px 0;
    color: red;
}

#main #contents #watermelon,
#strawberry {
    width: 100%;
    margin: 30px auto 10px;

}

#main #contents #watermelon img,
#strawberry img {
    width: 300px;
    height: 250px;
    margin: 10px auto;
    display: block;
}

#contents #watermelon p,
#strawberry p {
    /* float: left; */
    /* display: inline-block; */
    /* width: 800px; */
    line-height: 1.7;


}


/* board 스타일 */
#contents table {
    width: 90%;
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 30px;
    font-size: 13px;

}

#contents table th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#contents table thead {
    background-color: #eee;
}

#contents table tr td:nth-child(2) {
    text-align: left;
}

/* login 스타일 */
#contents form {
    width: 90%;
    margin: 30px auto;
    border: 1px solid #ccc;
}

#contents form ul {
    padding: 20px;
    /* margin: 20px; */
}

#contents form ul li {
    margin: 20px;
}

#contents form label {
    width: 80px;
    float: left;
}

#contents form input[type='text'],
input[type='password'] {
    width: 60%;
    height: 20px;
    padding: 0 5px;
}

#contents form input[type='submit'],
input[type='reset'] {
    padding: 4px 10px;
    margin-right: 10px;
}

/* pc 기준 */
@media screen and (min-width: 800px) {
    header {
        height: 80px;
    }

    header #logo {
        height: 80px;
        margin-top: 0;
        padding-left: 40px;
        line-height: 80px;
    }

    header nav {
        height: 80px;
        margin-top: 0;
        line-height: 80px;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        /* float: left; */
        display: inline-block;
    }

    header nav ul li a {
        padding: 0 30px;
    }

    #container #main {
        width: 1000px;
    }

    #container #main #contents {

        width: 900px;
    }

    /* footer 스타일 */
    footer ul li {
        /* float: left; */
        display: inline-block;
        margin: 10px;
        padding: 0 20px 0 0;
        border-right: 1px solid #ccc;
        font-size: 16px;
    }

    /* index 스타일 */
    #main #contents h2 {
        margin-top: 30px;
        font-size: 26px;
    }

    #main #contents .main_pic {
        width: 550px;
        margin: 20px auto;
    }

    #main #contents .main_pic img {
        width: 550px;
        height: 500px;
    }

    /* product 스타일 */
    #main #contents #watermelon,
    #strawberry {
        height: 400px;
        margin: 30px 0;
    }

    #main #contents #watermelon img,
    #strawberry img {
        float: left;
        width: 350px;
        height: 300px;
        margin-right: 30px;
        border-radius: 15px;
        padding-bottom: 100px;

    }

    #contents #watermelon p,
    #strawberry p {
        /* float: left; */
        /* display: inline-block; */
        /* width: 800px; */
        line-height: 2;


    }


    /* board 스타일 */
    #contents table {
        font-size: 16px;
    }

    /* login 스타일 */
    #contents form {
        width: 440px;

    }

    #contents form input[type='text'],
    input[type='password'] {
        width: 200px;
        height: 25px;
    }
}