@charset "utf-8";
*{margin: 0; padding: 0;}
body{
    /* vh - view height(1500px / 100 = 15px) */
    height: 100vh;
    display: flex;
    /* 수평정렬 */
    justify-content: center;
    /* 수직정렬 */
    align-items: center;
}
#container{
    border : 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    
}
#container div{
    margin: 10px;

}

